In [1]:
#hiyerarsik islemler
#stack and unstack 
#hiyerarsik indexleri isimlendirme
#index ve seviteleri siralama
#seviyelere gore istatistikler
#sutunu satir indexine cevirme
import pandas as pd ; import numpy as np

In [3]:
veri = pd.Series(np.random.randn(8), index = [["a","a","a","b","b","b","c","c"],[1,2,3,1,2,3,1,2]])
veri

a  1   -0.922829
   2   -1.919617
   3    0.213047
b  1    0.587387
   2    0.599777
   3   -0.051964
c  1   -0.381626
   2    1.270302
dtype: float64

In [4]:
veri.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('b', 3),
            ('c', 1),
            ('c', 2)],
           )

In [6]:
#hiyerarsik islemler
#a indexini gorme
veri["a"]

1   -0.922829
2   -1.919617
3    0.213047
dtype: float64

In [7]:
#b den c ye dilimlere 
veri["b":"c"]

b  1    0.587387
   2    0.599777
   3   -0.051964
c  1   -0.381626
   2    1.270302
dtype: float64

In [8]:
#1den fazla veri gostermek 2 tane koseli parantez
veri[["a","c"]]

a  1   -0.922829
   2   -1.919617
   3    0.213047
c  1   -0.381626
   2    1.270302
dtype: float64

In [9]:
#her satirin 1. indexini yazidrmak icin 
veri.loc[:,1]

a   -0.922829
b    0.587387
c   -0.381626
dtype: float64

In [10]:
#unstack kullanarak veriyi tablo olaraj gosterebiliriz
veri.unstack()

          1         2         3
a -0.922829 -1.919617  0.213047
b  0.587387  0.599777 -0.051964
c -0.381626  1.270302       NaN

In [12]:
#stack ekleyerek eski haline getirebiliriz
veri.unstack().stack()

a  1   -0.922829
   2   -1.919617
   3    0.213047
b  1    0.587387
   2    0.599777
   3   -0.051964
c  1   -0.381626
   2    1.270302
dtype: float64

In [13]:
vs = pd.DataFrame(np.arange(12).reshape(4,3), index = [["a","a","b","b",],[1,2,1,2]],
                  columns = [["say","say","soz"],["mat","fiz","edb"]])
vs

    say     soz
    mat fiz edb
a 1   0   1   2
  2   3   4   5
b 1   6   7   8
  2   9  10  11

In [16]:
#satira ve sutuna isim eklemek 
vs.index.names=["sinif","sinav"]
vs.columns.names=["alan","ders"]
vs

alan        say     soz
ders        mat fiz edb
sinif sinav
a     1       0   1   2
      2       3   4   5
b     1       6   7   8
      2       9  10  11

In [17]:
#swaplevel methodu ile degerlerin yerlerini degistirebilriz
vs.swaplevel("sinif","sinav")

alan        say     soz
ders        mat fiz edb
sinav sinif
1     a       0   1   2
2     a       3   4   5
1     b       6   7   8
2     b       9  10  11

In [18]:
#sortindex komutu ile indexleri siralayabiliriz 
vs.sort_index(level=1)

alan        say     soz
ders        mat fiz edb
sinif sinav
a     1       0   1   2
b     1       6   7   8
a     2       3   4   5
b     2       9  10  11

In [22]:
#ozet istatislikler
vs.sum()

alan  ders
say   mat     18
      fiz     22
soz   edb     26
dtype: int64

In [23]:
#bujna bakacagiz
#vs.sum(level="alan",axis=1)

In [25]:
veri = pd.DataFrame({"x":range(8),"y":range(8,0,-1), "a":["bir","bir","bir","bir","iki","iki","iki","iki"],
                     "b":[0,1,2,3,0,1,2,3]})
veri

   x  y    a  b
0  0  8  bir  0
1  1  7  bir  1
2  2  6  bir  2
3  3  5  bir  3
4  4  4  iki  0
5  5  3  iki  1
6  6  2  iki  2
7  7  1  iki  3

In [27]:
#a ve b yi satir indexi seklinde yazalim set_index methodu 
#burda a ve b sutun olmaktan cikti 
veri2 = veri.set_index(["a","b"])
veri2

       x  y
a   b
bir 0  0  8
    1  1  7
    2  2  6
    3  3  5
iki 0  4  4
    1  5  3
    2  6  2
    3  7  1

In [28]:
#drop=False dersek, sutunlar silinmez
veri3 = veri.set_index(["a","b"],drop=False)
veri3

       x  y    a  b
a   b
bir 0  0  8  bir  0
    1  1  7  bir  1
    2  2  6  bir  2
    3  3  5  bir  3
iki 0  4  4  iki  0
    1  5  3  iki  1
    2  6  2  iki  2
    3  7  1  iki  3

In [29]:
#veri setini eski haline getirmek icin reset_index kullanabiliriz
veri2.reset_index()

     a  b  x  y
0  bir  0  0  8
1  bir  1  1  7
2  bir  2  2  6
3  bir  3  3  5
4  iki  0  4  4
5  iki  1  5  3
6  iki  2  6  2
7  iki  3  7  1